@using System.Reactive.Linq
@using OMSBlazor.Client.Pages.Order.Invoice
@using OMSBlazor.Client.Themes
@inherits ReactiveComponentBase<JournalViewModel>
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<div class="d-flex flex-column justify-center">
    @if (!ViewModel.Orders.Any())
    {
        <MudProgressCircular Class="align-self-center" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"
            Indeterminate="true" />
    }
    else
    {
        @* This grid contain "show invoice" button and thus it is hidden on small screens(smartphones) but its visible on tablets *@
        <div class="d-none d-sm-flex d-md-none flex-column">
            <JournalGridComponent Device="Device.Tablet" 
                Orders="@ViewModel.Orders" 
                Customers="@ViewModel.Customers" 
                Employees="@ViewModel.Employees"
                OnPayClicked="e => NavigateToCheckoutPage(e)"
                OnRowClicked="e => ChangeSelectedOrder(e)"
                OnShowInvoiceClicked="e => ShowInvoice(e)"/>
        </div>

        @* This grid contain "show invoice" button and thus it is hidden on small screens(smartphones) but its visible on laptops *@
        <div class="d-none d-lg-flex d-xl-none justify-center align-center flex-column">
            <JournalGridComponent Device="Device.Laptop" 
                Orders="@ViewModel.Orders" 
                Customers="@ViewModel.Customers" 
                Employees="@ViewModel.Employees"
                OnPayClicked="e => NavigateToCheckoutPage(e)"
                OnRowClicked="e => ChangeSelectedOrder(e)"
                OnShowInvoiceClicked="e => ShowInvoice(e)"/>
        </div>

        @* This grid contain "show invoice" button and thus it is hidden on small screens(smartphones) but its visible on desktop(extra large screens) *@
        <div class="d-none d-xl-flex d-xxl-none">
            <JournalGridComponent Device="Device.Desktop" 
                Orders="@ViewModel.Orders" 
                Customers="@ViewModel.Customers" 
                Employees="@ViewModel.Employees"
                OnPayClicked="e => NavigateToCheckoutPage(e)"
                OnRowClicked="e => ChangeSelectedOrder(e)"
                OnShowInvoiceClicked="e => ShowInvoice(e)"/>
        </div>

        @* This grid contain "show invoice" button and thus it is hidden on small screens(smartphones) but its visible on medium size laptops *@
        <div class="d-none d-md-flex d-lg-none flex-column">
            <JournalGridComponent Device="Device.MediumLaptop" 
                Orders="@ViewModel.Orders" 
                Customers="@ViewModel.Customers" 
                Employees="@ViewModel.Employees"
                OnPayClicked="e => NavigateToCheckoutPage(e)"
                OnRowClicked="e => ChangeSelectedOrder(e)"
                OnShowInvoiceClicked="e => ShowInvoice(e)"/>
        </div>

        @* This grid does not contain "show invoice" button and thus it is showen on small screens (smartphones)*@
        <div class="d-flex d-sm-none">
            <JournalGridComponent Device="Device.Smartphone" 
                Orders="@ViewModel.Orders" 
                Customers="@ViewModel.Customers" 
                Employees="@ViewModel.Employees"
                OnPayClicked="e => NavigateToCheckoutPage(e)"/>
        </div>
    }
</div>

@code {
    [CascadingParameter(Name = "IsDarkMode")]
    public bool IsDarkMode { get; set; }

    IDisposable registerLocationChangingHanlderDisposable = default!;

    private bool invoicePresent;
    private bool isColumnVisible = false;

    protected override void Dispose(bool disposing)
    {
        registerLocationChangingHanlderDisposable?.Dispose();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            registerLocationChangingHanlderDisposable = this.NavigationManager.RegisterLocationChangingHandler(context =>
            {
                if (invoicePresent)
                {
                    context.PreventNavigation();
                }
                return ValueTask.CompletedTask;
            });
        }
        base.OnAfterRender(firstRender);
    }
    public async Task NavigateToCheckoutPage(int orderId)
    {
        var checkoutUrl = await ViewModel?.GetCheckoutUrl(orderId, NavigationManager.BaseUri.TrimEnd('/'));

        NavigationManager.NavigateTo(checkoutUrl);
    }

    public async Task ShowInvoice(int orderId)
    {
        var arr = await ViewModel.ChangeSelectedOrderCommand.Execute(orderId);
        var parameters = new DialogParameters<InvoiceDialog>()
{
{ x=>x.InvoiceData, arr }
};
        var options = new DialogOptions { NoHeader = true, BackdropClick = false };
        invoicePresent = true;
        var dialog = DialogService.Show<InvoiceDialog>("Invoice", parameters, options);

        await dialog.Result;

        invoicePresent = false;
    }

    private async Task ChangeSelectedOrder(int orderId)
    {
        await ViewModel.ChangeSelectedOrderCommand.Execute(orderId);
    }
}